

html, body, div, span,
h1, p, ul, li {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html{
  position: relative;
  background-color: rgb(145, 180, 201);  
  background-color: transparent;
  background-image: url('./assets/flow.jpg');
  background-size: cover;


}

body {
  font-size: 20px;
  line-height: 22px;
  color: #404040;
}

ol, ul {
  list-style: none;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
  
  
}

.btn:hover {
  background: lightslategrey;
}

.btn-red {
  background: none;
}

.btn-red:hover {
  background: rgb(239, 101, 101);
}

.app-title, .subTitle{
  font-size: 28px;
  line-height: 52px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.8px;
}

